src/ruserba/WebContent/wsdl/HelloVe.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap" xmlns:intf="http://soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHelloVe">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
      <element name="id" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloVeResponse">
    <complexType>
     <sequence>
      <element name="sayHelloVeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sayHelloVeResponse">

      <wsdl:part element="impl:sayHelloVeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloVeRequest">

      <wsdl:part element="impl:sayHelloVe" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloVe">

      <wsdl:operation name="sayHelloVe">

         <wsdl:input message="impl:sayHelloVeRequest" name="sayHelloVeRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloVeResponse" name="sayHelloVeResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloVeSoapBinding" type="impl:HelloVe">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHelloVe">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloVeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloVeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloVeService">

      <wsdl:port binding="impl:HelloVeSoapBinding" name="HelloVe">

         <wsdlsoap:address location="http://localhost:8080/CalvinSalvyWebservice/services/HelloVe"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
