src/ruserba/WebContent/wsdl/KreditSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap" xmlns:intf="http://soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="createKredit">
    <complexType>
     <sequence>
      <element name="id_account" type="xsd:int"/>
      <element name="card_number" type="xsd:string"/>
      <element name="name_of_card" type="xsd:string"/>
      <element name="expired_date" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createKreditResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="createKreditRequest">

      <wsdl:part element="impl:createKredit" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createKreditResponse">

      <wsdl:part element="impl:createKreditResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="KreditSoap">

      <wsdl:operation name="createKredit">

         <wsdl:input message="impl:createKreditRequest" name="createKreditRequest">

       </wsdl:input>

         <wsdl:output message="impl:createKreditResponse" name="createKreditResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="KreditSoapSoapBinding" type="impl:KreditSoap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createKredit">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createKreditRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createKreditResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="KreditSoapService">

      <wsdl:port binding="impl:KreditSoapSoapBinding" name="KreditSoap">

         <wsdlsoap:address location="http://localhost:8080/CalvinSalvyWebservice/services/KreditSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
