src/web service/WebContent/wsdl/BarangUserSoap.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soap.frexescwebservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soap.frexescwebservice.com" xmlns:intf="http://soap.frexescwebservice.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soap.frexescwebservice.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addCart">
    <complexType>
     <sequence>
      <element name="id_item" type="xsd:long"/>
      <element name="id_user" type="xsd:long"/>
      <element name="total_item" type="xsd:int"/>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCartResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addCartRequest">

      <wsdl:part element="impl:addCart" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCartResponse">

      <wsdl:part element="impl:addCartResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BarangUserSoap">

      <wsdl:operation name="addCart">

         <wsdl:input message="impl:addCartRequest" name="addCartRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCartResponse" name="addCartResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BarangUserSoapSoapBinding" type="impl:BarangUserSoap">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addCart">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCartRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCartResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BarangUserSoapService">

      <wsdl:port binding="impl:BarangUserSoapSoapBinding" name="BarangUserSoap">

         <wsdlsoap:address location="http://localhost:8080/FrexescWebService/services/BarangUserSoap"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
