KLK-WebService/WebContent/wsdl/Hello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="AddUser">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="fullname" type="xsd:string"/>
      <element name="alamat" type="xsd:string"/>
      <element name="provinsi" type="xsd:string"/>
      <element name="kota" type="xsd:string"/>
      <element name="kodepos" type="xsd:int"/>
      <element name="hp" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="AddUserResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="AddUserResponse">

      <wsdl:part element="impl:AddUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="AddUserRequest">

      <wsdl:part element="impl:AddUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Hello">

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AddUser">

         <wsdl:input message="impl:AddUserRequest" name="AddUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:AddUserResponse" name="AddUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloSoapBinding" type="impl:Hello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="AddUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="AddUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="AddUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloService">

      <wsdl:port binding="impl:HelloSoapBinding" name="Hello">

         <wsdlsoap:address location="http://localhost:8080/KLK-WebService/services/Hello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
