web service/WebContent/wsdl/BarangUserBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.frexescwebservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.frexescwebservice.com" xmlns:intf="http://model.frexescwebservice.com" xmlns:tns1="http://simple.json.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.frexescwebservice.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://simple.json.org"/>
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="getTotal_item">
    <complexType/>
   </element>
   <element name="getTotal_itemResponse">
    <complexType>
     <sequence>
      <element name="getTotal_itemReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getId_item">
    <complexType/>
   </element>
   <element name="getId_itemResponse">
    <complexType>
     <sequence>
      <element name="getId_itemReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId_item">
    <complexType>
     <sequence>
      <element name="id_item" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId_itemResponse">
    <complexType/>
   </element>
   <element name="getId_user">
    <complexType/>
   </element>
   <element name="getId_userResponse">
    <complexType>
     <sequence>
      <element name="getId_userReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId_user">
    <complexType>
     <sequence>
      <element name="id_user" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId_userResponse">
    <complexType/>
   </element>
   <element name="setTotal_item">
    <complexType>
     <sequence>
      <element name="total_item" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTotal_itemResponse">
    <complexType/>
   </element>
   <element name="toJSON">
    <complexType/>
   </element>
   <element name="toJSONResponse">
    <complexType>
     <sequence>
      <element name="toJSONReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="getDescription">
    <complexType/>
   </element>
   <element name="getDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getDescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getStatus">
    <complexType/>
   </element>
   <element name="getStatusResponse">
    <complexType>
     <sequence>
      <element name="getStatusReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescription">
    <complexType>
     <sequence>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescriptionResponse">
    <complexType/>
   </element>
   <element name="setStatus">
    <complexType>
     <sequence>
      <element name="status" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setStatusResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setStatusRequest">

      <wsdl:part element="impl:setStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStatusRequest">

      <wsdl:part element="impl:getStatus" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTotal_itemResponse">

      <wsdl:part element="impl:setTotal_itemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getId_itemResponse">

      <wsdl:part element="impl:getId_itemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTotal_itemRequest">

      <wsdl:part element="impl:setTotal_item" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setId_itemResponse">

      <wsdl:part element="impl:setId_itemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setId_userRequest">

      <wsdl:part element="impl:setId_user" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionResponse">

      <wsdl:part element="impl:setDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setId_itemRequest">

      <wsdl:part element="impl:setId_item" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStatusResponse">

      <wsdl:part element="impl:getStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toJSONRequest">

      <wsdl:part element="impl:toJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toJSONResponse">

      <wsdl:part element="impl:toJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getId_itemRequest">

      <wsdl:part element="impl:getId_item" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setId_userResponse">

      <wsdl:part element="impl:setId_userResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionRequest">

      <wsdl:part element="impl:getDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionRequest">

      <wsdl:part element="impl:setDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionResponse">

      <wsdl:part element="impl:getDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setStatusResponse">

      <wsdl:part element="impl:setStatusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getId_userRequest">

      <wsdl:part element="impl:getId_user" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTotal_itemResponse">

      <wsdl:part element="impl:getTotal_itemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTotal_itemRequest">

      <wsdl:part element="impl:getTotal_item" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getId_userResponse">

      <wsdl:part element="impl:getId_userResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BarangUserBean">

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTotal_item">

         <wsdl:input message="impl:getTotal_itemRequest" name="getTotal_itemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTotal_itemResponse" name="getTotal_itemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId_item">

         <wsdl:input message="impl:getId_itemRequest" name="getId_itemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getId_itemResponse" name="getId_itemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId_item">

         <wsdl:input message="impl:setId_itemRequest" name="setId_itemRequest">

       </wsdl:input>

         <wsdl:output message="impl:setId_itemResponse" name="setId_itemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId_user">

         <wsdl:input message="impl:getId_userRequest" name="getId_userRequest">

       </wsdl:input>

         <wsdl:output message="impl:getId_userResponse" name="getId_userResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId_user">

         <wsdl:input message="impl:setId_userRequest" name="setId_userRequest">

       </wsdl:input>

         <wsdl:output message="impl:setId_userResponse" name="setId_userResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTotal_item">

         <wsdl:input message="impl:setTotal_itemRequest" name="setTotal_itemRequest">

       </wsdl:input>

         <wsdl:output message="impl:setTotal_itemResponse" name="setTotal_itemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toJSON">

         <wsdl:input message="impl:toJSONRequest" name="toJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:toJSONResponse" name="toJSONResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdl:input message="impl:getDescriptionRequest" name="getDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDescriptionResponse" name="getDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdl:input message="impl:getStatusRequest" name="getStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStatusResponse" name="getStatusResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdl:input message="impl:setDescriptionRequest" name="setDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDescriptionResponse" name="setDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setStatus">

         <wsdl:input message="impl:setStatusRequest" name="setStatusRequest">

       </wsdl:input>

         <wsdl:output message="impl:setStatusResponse" name="setStatusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BarangUserBeanSoapBinding" type="impl:BarangUserBean">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTotal_item">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTotal_itemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTotal_itemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId_item">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getId_itemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getId_itemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId_item">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setId_itemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setId_itemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId_user">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getId_userRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getId_userResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId_user">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setId_userRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setId_userResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTotal_item">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setTotal_itemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setTotal_itemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="toJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setStatusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setStatusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BarangUserBeanService">

      <wsdl:port binding="impl:BarangUserBeanSoapBinding" name="BarangUserBean">

         <wsdlsoap:address location="http://localhost:8080/FrexescWebService/services/BarangUserBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
