web service/WebContent/wsdl/BarangBean.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://model.frexescwebservice.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://model.frexescwebservice.com" xmlns:intf="http://model.frexescwebservice.com" xmlns:tns1="http://simple.json.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://model.frexescwebservice.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://simple.json.org"/>
   <element name="setId">
    <complexType>
     <sequence>
      <element name="id" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setIdResponse">
    <complexType/>
   </element>
   <element name="getTotal_item">
    <complexType/>
   </element>
   <element name="getTotal_itemResponse">
    <complexType>
     <sequence>
      <element name="getTotal_itemReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTotal_item">
    <complexType>
     <sequence>
      <element name="total_item" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setTotal_itemResponse">
    <complexType/>
   </element>
   <element name="getId_category">
    <complexType/>
   </element>
   <element name="getId_categoryResponse">
    <complexType>
     <sequence>
      <element name="getId_categoryReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId_category">
    <complexType>
     <sequence>
      <element name="id_category" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setId_categoryResponse">
    <complexType/>
   </element>
   <element name="getPicture">
    <complexType/>
   </element>
   <element name="getPictureResponse">
    <complexType>
     <sequence>
      <element name="getPictureReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPicture">
    <complexType>
     <sequence>
      <element name="picture" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPictureResponse">
    <complexType/>
   </element>
   <element name="getPrice">
    <complexType/>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPrice">
    <complexType>
     <sequence>
      <element name="price" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="setPriceResponse">
    <complexType/>
   </element>
   <element name="toJSON">
    <complexType/>
   </element>
   <element name="toJSONResponse">
    <complexType>
     <sequence>
      <element name="toJSONReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getName">
    <complexType/>
   </element>
   <element name="getNameResponse">
    <complexType>
     <sequence>
      <element name="getNameReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getId">
    <complexType/>
   </element>
   <element name="getIdResponse">
    <complexType>
     <sequence>
      <element name="getIdReturn" type="xsd:long"/>
     </sequence>
    </complexType>
   </element>
   <element name="setName">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setNameResponse">
    <complexType/>
   </element>
   <element name="getDescription">
    <complexType/>
   </element>
   <element name="getDescriptionResponse">
    <complexType>
     <sequence>
      <element name="getDescriptionReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescription">
    <complexType>
     <sequence>
      <element name="description" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="setDescriptionResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="setTotal_itemResponse">

      <wsdl:part element="impl:setTotal_itemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdResponse">

      <wsdl:part element="impl:setIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdResponse">

      <wsdl:part element="impl:getIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPictureResponse">

      <wsdl:part element="impl:getPictureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameRequest">

      <wsdl:part element="impl:getName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameRequest">

      <wsdl:part element="impl:setName" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setTotal_itemRequest">

      <wsdl:part element="impl:setTotal_item" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getNameResponse">

      <wsdl:part element="impl:getNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPictureRequest">

      <wsdl:part element="impl:setPicture" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPictureResponse">

      <wsdl:part element="impl:setPictureResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPriceResponse">

      <wsdl:part element="impl:setPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setIdRequest">

      <wsdl:part element="impl:setId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionResponse">

      <wsdl:part element="impl:setDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceResponse">

      <wsdl:part element="impl:getPriceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setPriceRequest">

      <wsdl:part element="impl:setPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setId_categoryRequest">

      <wsdl:part element="impl:setId_category" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPriceRequest">

      <wsdl:part element="impl:getPrice" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setNameResponse">

      <wsdl:part element="impl:setNameResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getId_categoryResponse">

      <wsdl:part element="impl:getId_categoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toJSONRequest">

      <wsdl:part element="impl:toJSON" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="toJSONResponse">

      <wsdl:part element="impl:toJSONResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionRequest">

      <wsdl:part element="impl:getDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setDescriptionRequest">

      <wsdl:part element="impl:setDescription" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="setId_categoryResponse">

      <wsdl:part element="impl:setId_categoryResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getIdRequest">

      <wsdl:part element="impl:getId" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getDescriptionResponse">

      <wsdl:part element="impl:getDescriptionResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getId_categoryRequest">

      <wsdl:part element="impl:getId_category" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTotal_itemResponse">

      <wsdl:part element="impl:getTotal_itemResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTotal_itemRequest">

      <wsdl:part element="impl:getTotal_item" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPictureRequest">

      <wsdl:part element="impl:getPicture" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BarangBean">

      <wsdl:operation name="setId">

         <wsdl:input message="impl:setIdRequest" name="setIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:setIdResponse" name="setIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTotal_item">

         <wsdl:input message="impl:getTotal_itemRequest" name="getTotal_itemRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTotal_itemResponse" name="getTotal_itemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTotal_item">

         <wsdl:input message="impl:setTotal_itemRequest" name="setTotal_itemRequest">

       </wsdl:input>

         <wsdl:output message="impl:setTotal_itemResponse" name="setTotal_itemResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId_category">

         <wsdl:input message="impl:getId_categoryRequest" name="getId_categoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:getId_categoryResponse" name="getId_categoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId_category">

         <wsdl:input message="impl:setId_categoryRequest" name="setId_categoryRequest">

       </wsdl:input>

         <wsdl:output message="impl:setId_categoryResponse" name="setId_categoryResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPicture">

         <wsdl:input message="impl:getPictureRequest" name="getPictureRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPictureResponse" name="getPictureResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPicture">

         <wsdl:input message="impl:setPictureRequest" name="setPictureRequest">

       </wsdl:input>

         <wsdl:output message="impl:setPictureResponse" name="setPictureResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input message="impl:getPriceRequest" name="getPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPriceResponse" name="getPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPrice">

         <wsdl:input message="impl:setPriceRequest" name="setPriceRequest">

       </wsdl:input>

         <wsdl:output message="impl:setPriceResponse" name="setPriceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toJSON">

         <wsdl:input message="impl:toJSONRequest" name="toJSONRequest">

       </wsdl:input>

         <wsdl:output message="impl:toJSONResponse" name="toJSONResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getName">

         <wsdl:input message="impl:getNameRequest" name="getNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:getNameResponse" name="getNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdl:input message="impl:getIdRequest" name="getIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getIdResponse" name="getIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdl:input message="impl:setNameRequest" name="setNameRequest">

       </wsdl:input>

         <wsdl:output message="impl:setNameResponse" name="setNameResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdl:input message="impl:getDescriptionRequest" name="getDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:getDescriptionResponse" name="getDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdl:input message="impl:setDescriptionRequest" name="setDescriptionRequest">

       </wsdl:input>

         <wsdl:output message="impl:setDescriptionResponse" name="setDescriptionResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BarangBeanSoapBinding" type="impl:BarangBean">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getTotal_item">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTotal_itemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTotal_itemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setTotal_item">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setTotal_itemRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setTotal_itemResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId_category">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getId_categoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getId_categoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setId_category">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setId_categoryRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setId_categoryResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPictureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPictureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPictureRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setPictureResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="toJSON">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="toJSONRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="toJSONResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getId">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setNameRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setNameResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="setDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDescriptionRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="setDescriptionResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BarangBeanService">

      <wsdl:port binding="impl:BarangBeanSoapBinding" name="BarangBean">

         <wsdlsoap:address location="http://localhost:8080/FrexescWebService/services/BarangBean"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
