WebServices/WebContent/wsdl/InsertBarang.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService" xmlns:intf="http://webService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertBarang">
    <complexType>
     <sequence>
      <element name="id_kategori" type="xsd:string"/>
      <element name="nama_barang" type="xsd:string"/>
      <element name="gambar" type="xsd:string"/>
      <element name="harga_barang" type="xsd:string"/>
      <element name="keterangan" type="xsd:string"/>
      <element name="jumlah_barang" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertBarangResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertBarangResponse">

      <wsdl:part element="impl:insertBarangResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertBarangRequest">

      <wsdl:part element="impl:insertBarang" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InsertBarang">

      <wsdl:operation name="insertBarang">

         <wsdl:input message="impl:insertBarangRequest" name="insertBarangRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertBarangResponse" name="insertBarangResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InsertBarangSoapBinding" type="impl:InsertBarang">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertBarang">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertBarangRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertBarangResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InsertBarangService">

      <wsdl:port binding="impl:InsertBarangSoapBinding" name="InsertBarang">

         <wsdlsoap:address location="http://coba-soap.ap01.aws.af.cm/services/InsertBarang"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
