WebServices/WebContent/wsdl/InsertUser.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webService" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webService" xmlns:intf="http://webService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="insertUser">
    <complexType>
     <sequence>
      <element name="nama" type="xsd:string"/>
      <element name="username" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
      <element name="email" type="xsd:string"/>
      <element name="handphone" type="xsd:string"/>
      <element name="alamat" type="xsd:string"/>
      <element name="kota" type="xsd:string"/>
      <element name="provinsi" type="xsd:string"/>
      <element name="kodepos" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="insertUserResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="insertUserResponse">

      <wsdl:part element="impl:insertUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="insertUserRequest">

      <wsdl:part element="impl:insertUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InsertUser">

      <wsdl:operation name="insertUser">

         <wsdl:input message="impl:insertUserRequest" name="insertUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:insertUserResponse" name="insertUserResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InsertUserSoapBinding" type="impl:InsertUser">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="insertUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="insertUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="insertUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InsertUserService">

      <wsdl:port binding="impl:InsertUserSoapBinding" name="InsertUser">

         <wsdlsoap:address location="http://coba-soap.ap01.aws.af.cm/services/InsertUser"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
