src/server/WebContent/wsdl/SOAPWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soaptest" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soaptest" xmlns:intf="http://soaptest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soaptest" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="animalType">
    <complexType>
     <sequence>
      <element name="animal" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="animalTypeResponse">
    <complexType>
     <sequence>
      <element name="animalTypeReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addtoDB">
    <complexType>
     <sequence>
      <element name="table" type="xsd:string"/>
      <element name="query" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addtoDBResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addtoDBResponse">

      <wsdl:part element="impl:addtoDBResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addtoDBRequest">

      <wsdl:part element="impl:addtoDB" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="animalTypeResponse">

      <wsdl:part element="impl:animalTypeResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="animalTypeRequest">

      <wsdl:part element="impl:animalType" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SOAPWS">

      <wsdl:operation name="animalType">

         <wsdl:input message="impl:animalTypeRequest" name="animalTypeRequest">

       </wsdl:input>

         <wsdl:output message="impl:animalTypeResponse" name="animalTypeResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addtoDB">

         <wsdl:input message="impl:addtoDBRequest" name="addtoDBRequest">

       </wsdl:input>

         <wsdl:output message="impl:addtoDBResponse" name="addtoDBResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOAPWSSoapBinding" type="impl:SOAPWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="animalType">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="animalTypeRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="animalTypeResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addtoDB">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addtoDBRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addtoDBResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOAPWSService">

      <wsdl:port binding="impl:SOAPWSSoapBinding" name="SOAPWS">

         <wsdlsoap:address location="http://localhost:8080/calvinsalvy-webservice/services/SOAPWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
